th , td{
    text-align: center;
}
tr .qte{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#caisse>tbody {
    display: block;
    overflow: auto;
    height: 500px;
    width: 100%;
  }
  .valide>tbody {
    height: 100px;
    width: 100%;
  }
  
  #caisse>thead tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  
  #caisse>thead, #caisse>tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  
  #caisse>thead {
    width: 100%
  }
  