#product>tbody{
    display: block;
    overflow: auto;
    height: 600px;
    width: 130%;
  }
  
  #product>thead tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  
  #product>thead, #product>tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  
  #product>thead {
    width: 130%;
  }

  .Active{
	width: 10px;
	padding: 10px;
  margin: auto;
	background-color: rgb(243, 71, 71);
	border: 2px solid white;
	border-radius: 100%;
	margin-left: 50px;
}
.qct11{
  position: relative;
  left: 35px;
}

.Active1{
	margin-left: 20px;
	width: 10px;
	padding: 10px;
	background-color: rgb(63, 228, 66);
	border: 2px solid white;
	border-radius: 100%;
}
.searchBar , .choose{
	display: flex;
}

/* css Details */
.details-items .items .item .item-title{
  font-size: 20px;
  font-weight: bolder;
  color:black;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid var(--border-color);
}
.details-items .items .item .item-title span{
  font-size: 15px;
  color: black;
}


